*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }

html, body {
  height: 100%;
  background: #222;
}

body {
  @include sans-serif($line_height: 1.5);
  padding-top: $header_height;
}

.no-js body {
  overflow: auto;
}

%hide-text {
  text-indent: -9999px;
  overflow: hidden;
}

%enable_touch_scroll {
  overflow-y: auto;
  -ms-touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

%clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

// Hide tracking pixels
body > img {
  display: none;
}