<header class="m-header">
  <a class="m-header__nav-toggle" href="/">Menu</a>
  <h1 class="m-header__logo"><a href="/">The Verge &bull; Fifty</a></h1>
  <div class="m-header__buttons">
    <a class="m-header__previous" href="#">Previous</a>
    <a class="m-header__next" href="#">Next</a>
  </div>
</header>