<nav class="m-nav">
  <h2>The List</h2>
  <% data.content.categories.sort_by{ |c| c.category.position }.each do |c| %>
    <h3><%= c.category.name %></h3>
    <ol>
      <% data.content.people.find_all{ |p| p.category.name == c.category.name }.sort_by{ |p| p.sort_name }.each do |p| %>
        <li><a href="<%= feature_url(p) %>" data-page="<%= p.slug %>"><%= p.name %></a></li>
      <% end %>
    </ol>
  <% end %>
</nav>