$l : '.l-column';

#{$l} {
  float: left;
  width: 50%;
  padding-right: 10px;

  &.right {
    padding-right: 0;
    padding-left: 10px;
  }

  @media (max-width: $break_medium) {
    width: 100%;
    padding: 0;

    &.right {
      padding: 0;
    }
  }
}