// Needed to contain the mobile side menus
.l-outer-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// Contains the main site content
.l-inner-wrap {
  @include transition(transform 100ms, left 100ms, right 100ms);
  position: relative;
  width: 100%;
  height: 100%;
}

.l-content-wrap {
  //@extend %clearfix;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: $column_width * 11;
  margin: 0 auto;

  @media (max-width: $break_large) {
    max-width: $column_width * 8;
  }

  @media (max-width: $break_medium) {
    max-width: $column_width * 4;
    padding: 0 20px;
  }
}

// Moves the main content off the screen depending on which side menu is open.
// Uses translate3d for hardware acceleration;
// falls back on changing the left property for browsers that don't support
// 3D transforms.
.open-nav .l-inner-wrap {
  .csstransforms3d & {
    @include transform(translate3d($nav_width, 0, 0));
  }

  .no-csstransforms3d & {
    left: $nav_width;
  }
}