<li class="m-pages__page">
  <div class="l-content-wrap">
    <article class="m-cover">
      <div class="m-cover__content">
        <h2 class="m-cover__logo"><a href="<%= page_url(data.pages.find{ |p| p.name == 'intro' }.slug)%>" data-page="<%= data.pages.find{ |p| p.name == 'intro' }.slug %>"><%= app_name %></a></h2>
      </div>
    </article>
  </div>
</li>