<li class="m-pages__page credits" id="<%= page.slug %>" data-page-url="<%= page_url(page.slug) %>" data-name="<%= page.title %>">
  <div class="l-content-wrap">
    <article class="m-credits">
      <div class="m-credits__content">
        <h2><%= page.title %></h2>

        <div class="l-column">
          <h3>Editorial</h3>
          <ol>
              <li>Editors: Joshua topolsky, Thomas Houston, Laura June, Michael Shane
Writers:Bryan Bishop, Russell Brandom, Dieter Bohn, Katie Drummond, Joseph L. Flatley, Jesse Hicks, Adrianne Jeffries, Casey Newton, Molly Osberg, Ben Popper, Adi Roberson, TC Sottek, Amar Toor, Andrew Webster, Chris Ziegler</li>
          </ol>

          <h3>Product Team</h3>
          <ol>
              <li>Lead Designer: James Chae</li>
              <li>Designer: Kelsey Scherer</li>
              <li>Lead Developer: Guillermo Esteves</li>
              <li>Product Manager: Justin Glow</li>
              <li>Support Manager: Chao Li</li>
          </ol>
        </div>

        <div class="l-column right">
          <h3>Art Credits</h3>
          <ol>
              <li>Illustrator: Sam Green</li>
              <li>Photography: Getty Images, Corbis, AP Images, Wikipedia, Flickr (user names), Michael Shane</li>
          </ol>
        </div>
      </div>
    </article>
  </div>
</li>