<li class="m-pages__page credits" id="<%= page.slug %>" data-page-url="<%= page_url(page.slug) %>" data-name="<%= page.title %>">
  <div class="l-content-wrap">
    <article class="m-credits">
      <div class="m-credits__content">
        <h2><%= page.title %></h2>

        <div class="l-column">
          <h3>Editorial</h3>
          <ol>
              <li><em>Editors</em> Joshua Topolsky, Thomas Houston, Laura June</li>
              <li><em>Writers</em> Bryan Bishop, Russell Brandom, Dieter Bohn, Katie Drummond, Joseph L. Flatley, Jesse Hicks, Adrianne Jeffries, Casey Newton, Molly Osberg, Ben Popper, Adi Roberson, TC Sottek, Amar Toor, Andrew Webster, Chris Ziegler</li>
          </ol>

          <h3>Product Team</h3>
          <ol>
              <li><em>Lead Designer</em> James Chae</li>
              <li><em>Lead Developer</em> Guillermo Esteves</li>
              <li><em>Designer</em> Kelsey Scherer</li>
              <li><em>Product Manager</em> Justin Glow</li>
              <li><em>Support Manager</em> Chao Li</li>
          </ol>
        </div>

        <div class="l-column right">
          <h3>Art Credits</h3>
          <ol>
              <li><em>Illustrator</em> <a href="http://sams-place.net/" target="new">Sam Green</a></li>
              <li><em>Photography</em> Getty Images, Corbis, Wikipedia, <a href="http://www.flickr.com/photos/neilmoralee/6636824887/" target="blank">Neil Moralee</a>, <a href="http://www.flickr.com/photos/jdlasica/3362224358/sizes/o/in/photostream/" target="new">JD Lasica</a>, <a href="http://www.flickr.com/photos/22007612@N05/7595303406/in/photolist-czaV61-czaTUy-czaUPQ-czaTJS-czaTff-czaUpU-czaUh1-czaU3J-czaTzh-czaUHS-czaUuA-czaUzs-czaVgm-ek9coN-ek3qoB-ek9aXL-ek3oKV-ek9czL-ek3tDc-ek9azm-ek3qWp-ek3pUM-ek9a5q-ek3qHp-ek3toK-ek9anC-94vuLZ-fobT1J-fnWEs6-fnWDiR-fjYagr-8nGciH-8nGdtD-8nKgS1-aa36Z3-8mf7zD-gQzinW-fgvg2s-fgg3XZ-fgg284-fgg2nk-fgg32D-fgvh2m-fgvgG3-cz6SpY-cz6Neo-cz6Ue1-cz6Ur3-cz6KpA-cz6S1q-cz6Q4Y
" target="blank">Gage Skidmore</a>, <a href="http://www.flickr.com/photos/savebradley/8657341498/" target="blank">Private Manning Support Network</a>, Geordie Wood, Bryan W. Ferry.</li>
          </ol>
        </div>
      </div>
    </article>
  </div>
</li>