<li class="m-pages__page credits" id="<%= page.slug %>" data-page-url="<%= page_url(page.slug) %>" data-name="<%= page.title %>">
  <div class="l-content-wrap">
    <article class="m-credits">
      <div class="m-credits__content">
        <h2><%= page.title %></h2>

        <div class="l-column">
          <h3>Editorial</h3>
          <ol>
              <li><em>Editors</em> Joshua topolsky, Thomas Houston, Laura June, Michael Shane</li>
              <li><em>Writers</em> Bryan Bishop, Russell Brandom, Dieter Bohn, Katie Drummond, Joseph L. Flatley, Jesse Hicks, Adrianne Jeffries, Casey Newton, Molly Osberg, Ben Popper, Adi Roberson, TC Sottek, Amar Toor, Andrew Webster, Chris Ziegler</li>
          </ol>

          <h3>Product Team</h3>
          <ol>
              <li><em>Lead Designer</em> James Chae</li>
              <li><em>Lead Developer</em> Guillermo Esteves</li>
              <li><em>Designer</em> Kelsey Scherer</li>
              <li><em>Product Manager</em> Justin Glow</li>
              <li><em>Support Manager</em> Chao Li</li>
          </ol>
        </div>

        <div class="l-column right">
          <h3>Art Credits</h3>
          <ol>
              <li><em>Illustrator</em> Sam Green</li>
              <li><em>Photography</em> Getty Images, Corbis, AP Images, Wikipedia, Flickr (user names), Michael Shane</li>
          </ol>
        </div>
      </div>
    </article>
  </div>
</li>