<div class="m-full-list__category">
  <h3><%= c.category.name %></h3>
  <ol>
    <% data.verge50['people'].find_all{ |p| p.category == c.category.name }.sort_by{ |p| p.sort_name }.each do |p| %>
      <li><a href="<%= page_url(p.slug) %>" data-page="<%= p.slug %>"><%= p.name %></a></li>
    <% end %>
  </ol>
</div>