<div class="m-person__headshot">
<span class="picturefill" data-alt="<%= person.name %>">

  <span data-src="http://placehold.it/340&text=Placeholder+(Small/Non-Retina)" data-media="(min-width: 400px)"></span>
  <span data-src="http://placehold.it/680&text=Placeholder+(Small/Retina)" data-media="(min-width: 400px) and (min-device-pixel-ratio: 1.3)"></span>
  
  <span data-src="http://placehold.it/510&text=Placeholder+(Large/Non-Retina)" data-media="(min-width: 800px)"></span>
  <span data-src="http://placehold.it/1020&text=Placeholder+(Large/Retina)" data-media="(min-width: 800px) and (min-device-pixel-ratio: 1.3)"></span>
  
  <noscript>
      <img src="small.jpg" alt="<%= person.name %>">
  </noscript>
</span>
</div>