<li class="m-pages__page" id="<%= page.slug %>" data-page-url="<%= page_url(page.slug) %>" data-name="<%= page.title %>">
  <div class="l-content-wrap">
    <article class="m-intro">
      <div class="m-cover__content">
        <%= data.pages.find{ |p| p.name == 'intro' }.content %>
      </div>
    </article>
  </div>
</li>
