<ol class="m-pages">
  <%= partial "partials/sections/cover" %>

  <%= partial "partials/sections/intro", :locals => { :page => data.content.pages.find{ |p| p.slug == 'intro' } } %>

  <% data.content.people.sort_by{ |p| p.position }.each_with_index do |p, i| %>
    <%= partial "partials/sections/person", :locals => { :person => p } %>
  <% end %>

  <%= partial "partials/sections/credits", :locals => { :page => data.content.pages.find{ |p| p.slug == 'credits' } } %>

  <li class="m-pages__page ad"><h1>Eat at Joe's</h1></li>
</ol>