<ol class="m-pages">
  <li class="m-pages__page current"><h1>1<br/>melon usk</h1></li>
  <li class="m-pages__page"><h1>2<br/>dack jorsey</h1></li>
  <li class="m-pages__page"><h1>3<br/>cryan branston</h1></li>
  <li class="m-pages__page"><h1>4<br/>ony jive</h1></li>
  <li class="m-pages__page"><h1>5<br/>woss jheddon</h1></li>
  <li class="m-pages__page"><h1>6<br/>beff jezos</h1></li>
</ol>