$m : '.m-cover';

#{$m} {
  width: $column_width * 4;
  float: right;
  height: 100%;
  position: relative;
  text-align: center;
}

#{$m}__logo {
  @extend %hide-text;
  width: 340px;
  height: 291px;

  a {
    @include sprite('main-logo', $sprites, $sprites_2x);
    width: 100%;
    height: 100%;
    display: block;

    &:hover, a:active {
      border: none;
    }
  }

  @media (max-width: $break_medium) {
    width: 200px;
    height: 172px;

    a {
      @include sprite('main-logo-small', $sprites, $sprites_2x);
    }
  }
}

.flexbox {
  #{$m} {
    @extend %flexbox;
  }
}

.no-flexbox {
  #{$m}__content {
    position: absolute;
    top: 50%;
    margin-top: -150px;
  }
}

#cover {
  @media (min-width: $break_medium) {
    background-image: url('/images/name-collage-left.png');
    background-repeat: no-repeat;
    background-position: -250px center;
  }

  @media (min-width: $break_medium) and (-webkit-min-device-pixel-ratio: '1.3'),
         (min-width: $break_medium) and (min-resolution: '124.8dpi') {
    background-image: url('/images/name-collage-left@2x.png');
    background-repeat: no-repeat;
    background-position: -250px center;
    background-size: 691px 1313px;
  }

  @media (min-width: $break_large) {
    background-image: url('/images/name-collage-left.png');
    background-repeat: no-repeat;
    background-position: left center;
  }

  @media (min-width: $break_large) and (-webkit-min-device-pixel-ratio: '1.3'),
         (min-width: $break_large) and (min-resolution: '124.8dpi') {
    background-image: url('/images/name-collage-left@2x.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 691px 1313px;
  }
}