$m : '.m-full-list';

%active-list-link {
  @include din($font_size: 16px, $font_weight: bold, $line_height: 1.25);
  
  &:link, &:visited, &:hover, &:active {
    color: #000;
    text-decoration: none;
    border: none;
  }
}

#{$m} {
  @extend %clearfix;
  float: left;
  width: 100%;
 

  h2 {
    @include din($font_size: 100px, $font_weight: heavy);
    letter-spacing:42px;
    color: $red;
    text-align: center;
    white-space: nowrap;
    border-top: 10px solid #000;

    @media (max-width: $break_medium) {
      font-size: 46px;
      letter-spacing: 8px;
      text-indent: 8px;
      border-top: 5px solid #000;
    }
    @media (max-width: $break_small) {
      border: none;
    }

    & + p {
      margin-top: 0;
    }
  }

}

#{$m}__content {
  @extend %clearfix;
  @extend %-padded;
  @extend %-thick-bottom-border;
  max-width: $column_width * 8;
  width: 100%;
  position: relative;
  margin: 40px auto;
  padding: 0 0 20px 0;

  .category & a.category, .position & a.position {
    @extend %active-list-link;
  }

  li, p {
    @include din($font_size: 16px, $line_height: 1.25);
    
    a:link, a:visited {
      color: #000;
    }

    a:hover, a:active {
      color: $red;
    }
  }

  p {
    color: #333;
    margin-bottom: 0;
  }

  @media (max-width: $break_medium) {
    max-width: $column_width * 4;
    padding-bottom: 20px;
    margin: 20px auto;
  }
}

#{$m}__category {

  h3 {
    @include din($font_size: 18px);
    color: $red;
    border-bottom: 1px solid;
    margin-top: 20px;
  }
}

#{$m}__pane {
  @extend %clearfix;
  display: none;

  .category &.category {
    display: block;
  }

  .position &.position {
    margin-top: 20px;
    display: block;
  }
}

#the-list {
    @media (min-width: $break_medium) {
    background-image: image-url('/images/50.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  @media (min-width: $break_medium) and (-webkit-min-device-pixel-ratio: '1.3'),
         (min-width: $break_medium) and (min-resolution: '124.8dpi') {
    background-image: image-url('/images/50.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 765px 735px;
  }
}