$m : '.m-header';

#{$m} {
  background: #000;
  border-bottom: 10px solid $dark-grey;
  position: fixed;
  width: 100%;
  height: $header_height;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 3;
}

#{$m}__nav-toggle {
  @extend %hide-text;
  display: inline-block;
  background: $red;
  width: 35px;
  height: 30px;
  float: left;
  margin-right: 10px;
}

#{$m}__logo {
  @extend %hide-text;
  display: inline-block;
  width: 143px;
  height: 25px;
  float: left;
  margin: 0;
  position: relative;

  a {
    @include sprite('header-logo', $sprites, $sprites_2x);
    display: block;
  }
}

#{$m}__buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}

%header-nav-buttons {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: $red;
  margin-right: 10px;
}

#{$m}__previous {
  @extend %hide-text;
  @extend %header-nav-buttons;
}

#{$m}__next {
  @extend %hide-text;
  @extend %header-nav-buttons;
}