$m : '.m-header';

#{$m} {
  background: #000;
  border-bottom: 10px solid $dark-grey;
  position: fixed;
  width: 100%;
  height: $header_height;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 3;
}

#{$m}__nav-toggle {
  @include sprite('menu-active', $sprites, $sprites_2x);
  @extend %hide-text;
  display: inline-block;
  width: 35px;
  height: 25px;
  float: left;
  margin-right: 10px;
}

#{$m}__logo {
  @extend %hide-text;
  display: inline-block;
  width: 143px;
  height: 25px;
  float: left;
  margin: 0;
  position: relative;

  a {
    @include sprite('header-logo', $sprites, $sprites_2x);
    display: block;
  }
}

#{$m}__buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}

%header-nav-buttons {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 16px;
    height: 25px;
    margin-left: -8px;
  }
}

#{$m}__previous {
  @extend %hide-text;
  @extend %header-nav-buttons;

  &:before {
    @include sprite('left-arrow-active', $sprites, $sprites_2x);
  }
}

#{$m}__next {
  @extend %hide-text;
  @extend %header-nav-buttons;

  &:before {
    @include sprite('right-arrow-active', $sprites, $sprites_2x);
  }
}