$m : '.m-header';

$border-color: $really-dark-grey;

#{$m} {
  background: #000;
  border-bottom: 10px solid $dark-grey;
  position: fixed;
  width: 100%;
  height: $header_height;
  top: 0;
  left: 0;
  z-index: 3;
}

#{$m}__nav-toggle {
  @include link-sprite('menu', 'menu-active', 30px, 25px);
  @extend %hide-text;
  border-right: 1px solid $border-color;
  display: inline-block;
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 5px;
}

#{$m}__logo {
  @extend %hide-text;
  display: inline-block;
  width: 143px;
  height: 45px;
  float: left;
  margin: 0;
  position: relative;

  a {
    @include link-sprite('header-logo', 'header-logo', 143px, 25px);
    display: block;
    width: 100%;
    height: 100%;
  }
}

#{$m}__buttons {
  position: absolute;
  right: 0;
  top: 0;
}

%header-nav-buttons {
  border-left: 1px solid $border-color;
  width: 45px;
  height: 45px;
  display: block;
  float: left;
}

#{$m}__twitter {
  @include link-sprite('twitter-large', 'twitter-large', 24px, 20px);
  @extend %hide-text;
  @extend %header-nav-buttons;

  &:hover {
    background: #4099FF;
  }

  @media (max-width: $break_medium) {
    display: none;
  }
}

#{$m}__facebook {
  @include link-sprite('facebook-large', 'facebook-large', 9px, 19px);
  @extend %hide-text;
  @extend %header-nav-buttons;

  &:hover {
    background: #3B5998;
  }

  @media (max-width: $break_medium) {
    display: none;
  }
}

#{$m}__google {
  @include link-sprite('google-large', 'google-large', 24px, 20px);
  @extend %hide-text;
  @extend %header-nav-buttons;

  &:hover {
    background: #d34836;
  }

  @media (max-width: $break_medium) {
    display: none;
  }
}

#{$m}__previous {
  @include link-sprite('left-arrow', 'left-arrow-active', 16px, 25px);
  @extend %hide-text;
  @extend %header-nav-buttons;
}

#{$m}__next {
  @include link-sprite('right-arrow', 'right-arrow-active', 16px, 25px);
  @extend %hide-text;
  @extend %header-nav-buttons;
}