$m : '.m-intro';

#{$m} {
  @extend %clearfix;
  @extend %-padded;
  @extend %-thick-bottom-border;
  max-width: $column_width * 6;
  width: 100%;
  position: relative;
  float: left;

  h2 {
    @include din($font_size: 100px, $font_weight: heavy);
    letter-spacing:21px;
    color: $red;
    text-align: center;
    white-space: nowrap;
    border-top: 10px solid #000;

    @media (max-width: $break_medium) {
      font-size: 46px;
      letter-spacing: 8px;
      text-indent: 8px;
      border-top: 5px solid #000;
    }

    @media (max-width: $break_small) {
      border: none;
    }

    & + p {
      margin-top: 0;
    }
  }

  @media (max-width: $break_medium) {
    max-width: $column_width * 4;
  }

  
}
#intro {
  @media (min-width: $break_medium) {
    background-image: image-url('/images/50.png'), image-url('/images/name-collage-right.png');
    background-repeat: no-repeat;
    background-position: left bottom, 220% center;
  }

  @media (min-width: $break_medium) and (-webkit-min-device-pixel-ratio: '1.3'),
         (min-width: $break_medium) and (min-resolution: '124.8dpi') {
    background-image: image-url('/images/50.png'), image-url('/images/name-collage-right@2x.png');
    background-repeat: no-repeat;
    background-position: left bottom, 220% center;
    background-size: 765px 735px, 493px 1313px;
  }

  @media (min-width: $break_large) {
    background-image: image-url('/images/50.png'), image-url('/images/name-collage-right.png');
    background-repeat: no-repeat;
    background-position: left bottom, right center;
  }

  @media (min-width: $break_large) and (-webkit-min-device-pixel-ratio: '1.3'),
         (min-width: $break_large) and (min-resolution: '124.8dpi') {
    background-image: image-url('/images/50.png'), image-url('/images/name-collage-right@2x.png');
    background-repeat: no-repeat;
    background-position: left bottom, right center;
    background-size: 765px 735px, 493px 1313px;
  }
}