$m : '.m-nav';

#{$m} {
  @include transform(translate3d(0, 0, 0));
  @extend %enable_touch_scroll;
  background: #000;
  position: absolute;
  margin: 0;
  padding: 10px;
  top: 0;
  left: $nav_width * -1;
  width: $nav_width;
  height: 100%;
  z-index: 2;
}

#{$m}__list {
  margin: 0.5em 0;

  &.bottom {
    border-top: 1px solid #333;
    padding-top: 0.5em;
  }
}

#{$m}__category {
  @include din($font_size: 18px);
  color: $red;
  border-bottom: 1px solid;
}

#{$m}__list-item {
  @include sans-serif($font_size: 14px, $line_height: 1.5);
  
  a {
    display: block;
    text-decoration: none;
  }

  a:link, a:visited {
    color: #fff;
  }

  a:hover, a:active {
    color: $red;
  }
}


#{$m}__mobile-content-blocker {
  display: none;

  .open-nav & {
    @media(max-width: $break_small) {
      position: absolute;
      display: block;
      top: 0;
      left: $nav_width;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}
