$m : '.m-nav';

#{$m} {
  @include transform(translate3d(0, 0, 0));
  background: #000;
  color: #fff;
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  left: $nav_width * -1;
  width: $nav_width;
  height: 100%;
  overflow-y: scroll;
  display: block;
  padding: 10px;
  z-index: 2;
}

#{$m}__list {
  margin-bottom: 20px;
}

#{$m}__category {
  color: $red;
  border-bottom: 1px solid;
}

#{$m}__list-item {
  
  a {
    display: block;
    text-decoration: none;
  }

  a:link, a:visited {
    color: #fff;
  }

  a:hover, a:active {
    color: $red;
  }
}