$m : '.m-nav';

#{$m} {
  @include transform(translate3d(0, 0, 0));
  background: #000;
  color: #fff;
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  left: $nav_width * -1;
  width: $nav_width;
  height: 100%;
  overflow-y: scroll;
  display: block;
  z-index: 2;
}