$m : '.m-pages';

#{$m} {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#{$m}__page {
  @include transform(translate3d(0, 0, 0));
  @extend %enable_touch_scroll;
  background: $alabaster;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;

  p {
    font-size: 16px;
    color: $dark-grey;
    margin: 1.5em 0;
    line-height: 1.5;
  }

  a {
    color: $red;
    text-decoration: none;
  }

  p, li, h1, h2, h3 {
    a:hover, a:active {
      border-bottom: 1px solid;
    }
  }

  &.current, .no-js & {
    visibility: visible;
    z-index: 1;
  }
}

#{$m}__page.to-left {
  -webkit-animation: k-move-to-left $page_speed ease both;
  -moz-animation: k-move-to-left $page_speed ease both;
  animation: k-move-to-left $page_speed ease both;
}

#{$m}__page.from-left {
  -webkit-animation: k-move-from-left $page_speed ease both;
  -moz-animation: k-move-from-left $page_speed ease both;
  animation: k-move-from-left $page_speed ease both;
}

#{$m}__page.to-right {
  -webkit-animation: k-move-to-right $page_speed ease both;
  -moz-animation: k-move-to-right $page_speed ease both;
  animation: k-move-to-right $page_speed ease both;
}

#{$m}__page.from-right {
  -webkit-animation: k-move-from-right $page_speed ease both;
  -moz-animation: k-move-from-right $page_speed ease both;
  animation: k-move-from-right $page_speed ease both;
}

#{$m}__page.bounce-left {
  -webkit-animation: k-bounce-left $page_speed/2 2 alternate ease both;
  -moz-animation: k-bounce-left $page_speed/2 2 alternate ease both;
  animation: k-bounce-left $page_speed/2 2 alternate ease both;
}

#{$m}__page.bounce-right {
  -webkit-animation: k-bounce-right $page_speed/2 2 alternate ease both;
  -moz-animation: k-bounce-right $page_speed/2 2 alternate ease both;
  animation: k-bounce-right $page_speed/2 2 alternate ease both;
}

// Animations for page transitions

@-webkit-keyframes k-move-to-left {
  to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes k-move-to-left {
  to { -moz-transform: translateX(-100%); }
}
@keyframes k-move-to-left {
  to { transform: translateX(-100%); }
}

@-webkit-keyframes k-move-from-left {
  from { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes k-move-from-left {
  from { -moz-transform: translateX(-100%); }
}
@keyframes k-move-from-left {
  from { transform: translateX(-100%); }
}

@-webkit-keyframes k-move-to-right { 
  to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes k-move-to-right { 
  to { -moz-transform: translateX(100%); }
}
@keyframes k-move-to-right { 
  to { transform: translateX(100%); }
}

@-webkit-keyframes k-move-from-right {
  from { -webkit-transform: translateX(100%); }
}
@-moz-keyframes k-move-from-right {
  from { -moz-transform: translateX(100%); }
}
@keyframes k-move-from-right {
  from { transform: translateX(100%); }
}

@-webkit-keyframes k-bounce-left {
  to { -webkit-transform: translateX(-2%); }
}
@-moz-keyframes k-bounce-left {
  to { -moz-transform: translateX(-2%); }
}
@keyframes k-bounce-left {
  to { transform: translateX(-2%); }
}

@-webkit-keyframes k-bounce-right {
  to { -webkit-transform: translateX(2%); }
}
@-moz-keyframes k-bounce-right {
  to { -moz-transform: translateX(2%); }
}
@keyframes k-bounce-right {
  to { transform: translateX(2%); }
}