$m : '.m-person';

#{$m} {
  @extend %clearfix;
  @extend %-padded;
  @extend %-thick-bottom-border;
  position: relative;
  float: left;
  width: 100%;
}

#{$m}__headshot {
  width: 100%;
  max-width: $column_width * 6;

  .tier_1 &, .tier_3 & {
    float: left;
  }

  .tier_2 & {
    float: right;
  }
}

#{$m}__content {
  width: 100%;
  max-width: $column_width * 5;
  float: right;

  .tier_1 &, .tier_3 & {
    float: right;
  }

  .tier_2 & {
    float: left;
  }
}

#{$m}__header {
  @extend %clearfix;
  color: #fff;

  .tier_1 & {
    @include tilt(-30deg, 10%, 50%, 140px);
  }

  .tier_2 &, .tier_3 & {
    @include tilt(30deg, 100%, 30%, 180px);
  }
}

#{$m}__name {
  background: #000;
  min-height: 100px;
  margin: 5px 0;
  padding: 0 20px;
  float: left;
  clear: both;
  width: 100%;

  h2 {
    @include din($font_size: 72px);
    background: #000;
    text-align: center;
    width: 100%;
    padding-top: 0.1em;

    i {
      @include din($font_weight: bold);
    }
  }

  .flexbox & {
    @extend %flexbox;
  }

  .no-flexbox &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  .no-flexbox & h2 {
    display: inline-block;
    vertical-align: middle;
    padding-top:0;
  }
}

#{$m}__position {
  @include din($font_size: 36px, $font_weight: bold);
  letter-spacing:-1px;
  background: $red;
  width:44px;
  height:44px;
  display: block;
  float: left;
  clear: both;
  text-align:center;
  border-radius:44px;
  padding-top: 7px;
}

#{$m}__category {
  @include din($font-size: 30px, $line_height: 1.2);
  background: $red;
  display: block;
  float: right;
  clear: both;
  padding-left:0.3em;
  padding-right:0.3em;
}

#{$m}__info {
  @include din($font-size: 18px);  
  background: #000;
  color: #fff;
  padding: 10px 10px 4px 10px;

  p {
    font-size: 18px;
    color: #fff;
    line-height: 1;
    margin: 0 0 10px;
  }
}

#{$m}__titles {
  @include din($font-size: 18px, $line_height: 1.2);
  margin: 0;
}

#{$m}__achievements {
  background: #fff;
  color: #000;
  margin: 0 -10px;
  padding: 5px 10px;

  li {
    margin: 5px 0;
  }
}

#{$m}__headshot {
  img {
    @include transition(opacity 500ms);
  }
}

#{$m}__share {
  @extend %clearfix;
  margin-bottom: 20px;
  border-top: 1px solid #000;

  h4 {
    @include din($font-size: 20px, $line_height: 1.2);
    color: #000;
    display: block;
    float: left;
    margin-right: 5px;
  }
}

#{$m}__share-buttons {
  float: right;
}

%small-social-buttons {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-left: 10px;

  &:hover, &:active {
    border-bottom: none;
  }
}

#{$m}__twitter {
  @include link-sprite('twitter-small', 'twitter-small-active', 19px, 16px);
  @extend %hide-text;
  @extend %small-social-buttons;
}

#{$m}__facebook {
  @include link-sprite('facebook-small', 'facebook-small-active', 8px, 16px);
  @extend %hide-text;
  @extend %small-social-buttons;
}

#{$m}__google {
  @include link-sprite('google-small', 'google-small-active', 19px, 16px);
  @extend %hide-text;
  @extend %small-social-buttons;
}