$m : '.m-person';

#{$m} {
  @extend %clearfix;
  padding: 40px 0;
  margin-bottom: 40px;
  border-bottom: 15px solid #000;
}

#{$m}__content {
  width: 100%;
  max-width: 420px;
  float: right;

  .tier_1 &, .tier_3 & {
    float: right;
  }

  .tier_2 & {
    float: left;
  }
}

#{$m}__header {
  @extend %clearfix;
  color: #fff;

  h2 {
    @include din($font_size: 72px);
    background: #000;
    margin: 5px 0;
    float: left;
    clear: both;
    width: 100%;
    text-align: center;

    i {
      @include din($font_weight: bold);
    }
  }

  .tier_1 & {
    @include tilt(-30deg, 10%, 50%, 140px);
  }

  .tier_2 &, .tier_3 & {
    @include tilt(30deg, 100%, 50%, 180px);
  }
}

#{$m}__position {
  @include din($font_size: 30px, $font_weight: bold);
  background: $red;
  width:40px;
  height:40px;
  display: block;
  float: left;
  clear: both;
  text-align:center;
  border-radius:40px;
  padding-top: 8px;
}

#{$m}__category {
  @include din($font-size: 30px, $font_weight: bold, $line_height: 1.2);
  background: $red;
  display: block;
  float: right;
  clear: both;
  padding-left:0.3em;
  padding-right:0.3em;
}

#{$m}__info {
  @include din($font-size: 18px);  
  background: #000;
  color: #fff;
  padding: 10px 10px 4px 10px;
}

#{$m}__titles {
  @include din($font-size: 18px, $font_weight: bold, $line_height: 1.2);
  margin: 0 0 10px 0;
}

#{$m}__achievements {
  background: #fff;
  color: #000;
  margin: 0 -10px;
  padding: 5px 10px;

  li {
    margin: 10px 0;
  }
}

#{$m}__blurb {
  p {
    font-size: 16px;
    color: $dark-grey;
    margin: 1.5em 0;
    line-height: 1.5;
  }

  a {
    color: $red;
    text-decoration: none;
  }

  a:hover, a:active {
    border-bottom: 1px solid;
  }
}