$m : '.m-samsung-stb';

#{$m} {
  width: 250px;
  height: 18px;
  position: absolute;
  left: 205px;
  bottom: 15px;

  img {
    max-width: 100%;
  }

  a {
    display: block;
  }

  @media (max-width: $break_medium) {
    background: rgba(0,0,0,0.75);
    width: 100%;
    height: 30px;
    left: 0;
    top: $header_height - 10;

    a {
      width: 250px;
      height: 18px;
      margin: 5px auto 0 auto;
    }
  }
}